# Add this to your .vercelignore file to exclude unnecessary files
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.sqlite
*.db
*.DS_Store
*.egg-info
*.log
*.pot
*.py[co]
*.swp
*.vscode
*.idea
*.ipynb
*.csv
*.xlsx
*.zip
*.tar.gz
*.pdf
*.jpg
*.jpeg
*.png
*.gif
